@import "utils.css";

html, body {
  font-family: Sans-Serif;
  height:100%;
  font-size:14px;
}
.block{
background: #FFDB4C;
padding:20px;
color:black;
font-size:32px;
font-weight:bold;
text-align: center;
margin-top:30px;
margin-bottom:30px;
}
.nav{
	background-color: #38383a;
}
.slider{

}
.line{
	border-top: 1px solid #eaeff5;
	height:1px;
}
.footer{
	background-color: #252525;
}