.wrapper {
  display: flex;
  justify-content: center;
}
.content {
  padding-top: 192px;
  padding-bottom: 212px;
}
.content__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 178px;
}
.card-margin {
  margin-bottom: 100px;
}
.content__title {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 36px;
  color: #316099;
  line-height: 46px;
  letter-spacing: 0.05em;
  width: 360px;
  text-align: left;
  position: absolute;
}
.content__card {
  position: relative;
  width: 380px;
  height: 525px;
  padding: 48px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.content__card-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 16px;
  margin-top: 50px;
}
.content__card-desctription {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 32px;
}
.content__card-link {
  text-decoration: none;
  color: #5A98D0;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content__card-link:after {
  content: '';
  display: block;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 28px;
}
.content__card-img {
  text-align: center;
}
.card-img-mode {
  position: absolute;
  top: -20px;
}
.card-title-mode {
  padding-top: 115px;
}
